body{
	font-family: 'Roboto', sans-serif;
	background: url("ldr.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
   }
.container{
	border: 8px solid;
	border-color: black;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 310px;
	height: 330px;
	margin-top: 25px;
	background-color: olive;
}
.container2{
	border: 8px solid;
	border-color: black;
	border-radius: 20px;
	width: 270px;
	margin: auto;
	background-color: moccasin;
}
.header{
	color: lightseagreen;
	text-align: center;
}
.h21{
	color: lightseagreen;
	text-align: center;
}
.h31{
	text-align: center;
}