body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    border: 1px solid;
    border-color: gray;
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 35%;
    width: 750px;
    height: 50%;
    padding: 20px;
  }
  div.txtbox{
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: gray;
    border: 1px solid;
    border-color: gray;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: auto;
    padding: 10px;
  }
  

